body {
  font-family: Open sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #ffffff;
  padding: 10px;
  font-weight: bold;
  font-size: 20px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  align-content: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

.hour {
  text-align: center;
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
  height: 80px;
}

.past {
  background-image: linear-gradient(
    45deg,
    #b0b0b0 25%,
    #8f8f8f 25%,
    #8f8f8f 50%,
    #b0b0b0 50%,
    #b0b0b0 75%,
    #8f8f8f 75%,
    #8f8f8f 100%
  );
  background-size: 8.49px 8.49px;
  color: white;
}

.present {
  background-image: linear-gradient(
    45deg,
    #b30054 25%,
    #8a0040 25%,
    #8a0040 50%,
    #b30054 50%,
    #b30054 75%,
    #8a0040 75%,
    #8a0040 100%
  );
  background-size: 8.49px 8.49px;
  color: white;
}

.future {
  background-image: linear-gradient(
    45deg,
    #00b357 25%,
    #008744 25%,
    #008744 50%,
    #00b357 50%,
    #00b357 75%,
    #008744 75%,
    #008744 100%
  );
  background-size: 8.49px 8.49px;
  color: white;
}

.saveBtn {
  font-size: 30px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #08204d;
  border: none;
  color: white;
}

.saveBtn i:hover {
  font-size: 30px;
  transition: all 0.3s ease-in-out;
}